extend layout

block content
    h1 Add new Contact
    form(action="/new_contact",method ="POST")
        p Name:
        input#title(type="text",name="name")
        p Phone:
        input#title(type="text",name="phone")
        p: button(type="submit") Add new Contact
    
    h1 Create new Database
    form(action="/createdb",method="POST")
        p Database name:
        input#title(type="text",name="dbname")
        p: button(type="submit") Add new Database

    h1 Enter phone number to view Contact
    form(action="/view_contact", method="POST")
        p Phone:
        input#title(type="text",name="phone")
        p: button(type="submit") View Contact

    h1 Enter phone number to delete contact
    form(action="/delete_contact",method="POST")
        p Phone:
        input#title(type="text",name="phone")
        p: button(type="submit") Delete Contact